.projects_page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
    max-width: 100vw;
    color: antiquewhite;  
    h1{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family:  Georgia, 'Times New Roman', Times, serif;;
        font-size: 2.5rem;
        font-weight: bolder;
        padding: 1rem;   
        
    }  
    .projectList{
        display: flex;
        flex-wrap: wrap ;
        justify-content: center;
        gap: 1rem;
        padding: 2rem;
        
        
    }
}

@media (max-width: 768px) {
    .projects_page{
        display: flex;
        flex-direction: column;
        max-width: 100vw;
        

    }
    
  }
  


